.dot {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @media screen and (max-width:700px) {
        align-items: center;
        justify-content: flex-start;
    }
    width: 1em;
    height: 1em;
    border-radius: 100%;
    cursor: pointer;
    z-index: 2;
    animation: growFade 2s infinite ease; // Apply the animation
    margin-left: 0.5em;
    border: none;
    // transition: all 0.5s ease;
    flex: none;
    // Styles for expanded state if needed
    &.expanded {
        // Styles for text and close button visibility
        animation: none; // Apply the animation
        transition: none;
        display: flex;
        z-index: 3;
    }
}




@keyframes growFade {
    0% {
        opacity: 1;
      
    }
    100% {
        opacity: 0.2;
      
    }
}

.infoHolder {
    
    opacity: 0;
    transform: translateY(20px); // Adjust as needed
    display: flex;
    opacity: 0;
    transform: translateY(20px); // Adjust as needed
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        color: white;
    }
    button{
        width: 2em;
        height: 2em;
        border: 1px solid white;
    }
}
.infoHolder {
  display: none;
    opacity: 0;

    margin-top: 30vh;
    max-width: 60%;
    p{
        font-size: 1.5vw;
        @media screen and (max-width:700px) {
            font-size: 3vw;
            max-width: 70%;
        }
    }
    button{
        border: 1px solid white;
        padding: 2em;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 100%;
        margin-top: 1em;
        cursor: pointer;
    }
}
